@charset "utf-8";
.HeaderM1 {
    font-family: "Bebas Neue";
    font-size: 16px;
    font-style: oblique;
    line-height: normal;
    font-weight: bold;
    font-variant: normal;
    background-color: #201132;
    word-spacing: normal;
    border-bottom: thin solid #FFFFFF;
}
#NAME_WEBANIMX {
    font-family: "Bebas Neue";
    font-size: 36px;
    font-style: normal;
    line-height: normal;
}
