@charset "utf-8";
.HeaderM1 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 16px;
    font-style: oblique;
    line-height: normal;
    font-weight: bold;
    font-variant: normal;
    background-color: #000000;
    word-spacing: normal;
    border-bottom: thin dashed #9E6BFC;
}
